body {
    background-color: #73c8ab;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to right, #73c8ab, #373b44);
}

canvas {
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('assets/Flappy_Bird_Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.backdrop-blur {
    filter: blur(5px);
    -webkit-filter: blur();
    -moz-filter: blur();
    -ms-filter: blur();
    -o-filter: blur();
}

#end-menu{
    display: none;
    margin: 50px auto;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1000;
}

#score-display {
    display: block;
    margin: 50px auto;
    font-size: 2em;
    width: 200px;
    padding: 20px;
    text-align: center;
}

#restart-button {
    background-color: #2e2e2e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#restart-button:hover {
    background-color: #333;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}